

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         body{
            font-family:sans-serif;
        }
        header{
            width:100%;
            height:180px;
        }
        *{
            margin:0;
            padding:0;
        }
        
        .kop{
            position:relative;
            width:100%;
            height:110px;
            display:flex;
        }
        .kop-title{
            width:100%;
            position:relative;
            display: inline;
            margin-left:20px;
            display:flex;
            
        }
        .kop-title div{
            position:absolute;
            bottom:10px;
            left:120px;
            right:0;
        }
        .kop img{
            position:absolute;
            width:80px;
            height:80px;
            display:inline;
            bottom:0;
            left:25px;
        }
       
        tr {
           margin-top:12px;
           margin-bottom:12px;
           padding:12px;
        }
        td{
            padding:6px;
            
        }
        .container{
          width:100%;
          padding-left: 5%;
          padding-right: 5%;
        }
        .hr{
          margin-top:8px;
          margin-bottom:8px;
          width:100%;
          height:3px;
          background-color: black;
        }
      table{
        font-size:16px;
        border-collapse:collapse;
        width:100%;
        margin-top:15px;
      }
    
    </style>
</head>
<body>
    
  <header>
    <div class="kop">
        <img src="<%= include("base64icon");%>" alt="">
        <div class="kop-title">
            <div>
                <h5>LEMBAGA PENDIDIKAN MA'ARIF CABANG PONOROGO</h5>
                <h2><%=student["pendaftaran"];%> MA'ARIF AL MUKARROM</h2>
                <p><i>Jl. Raden Patah No 11 Kauman Somoroto Ponorogo (0352) 751093</i></p>
            </div>
           
        </div>
        
    </div>
    <div class="hr"></div>
    
    
      <div class="container" style="padding-left: 0;">
        <h3 style="text-align:center;">FORMULIR PENERIMAAN PESERTA DIDIK BARU </h3>
        <h3 style="text-align:center;"><%=student["pendaftaran"];%> MA'ARIF AL MUKARROM TAHUN PELAJARAN 2023/2024</h3>
    </div>
 
</header>
 <div class="container">
    <table>
     
            <tr>
                <td style="vertical-align: top; width:200px;">Nama Lengkap</td>
                <td style="vertical-align: top; width:5px" >:</td>
               
                <td style="vertical-align: top;"><%= student.nama_lengkap%></td>
            </tr>

            <tr>
              <td style="vertical-align: top; width:200px;">Jenis Kelamin</td>
              <td style="vertical-align: top; width:5px" >:</td>
             
              <td style="vertical-align: top;"><%= student.jenis_kelamin%></td>
          </tr>

              <tr>
                <td style="vertical-align: top; width:200px;">Tempat Tanggal Lahir</td>
                <td style="vertical-align: top; width:5px" >:</td>
              
                <td style="vertical-align: top;"><%= student.ttl%></td>
            </tr>
          
            <tr>
              <td style="vertical-align: top; width:200px;">Alamat</td>
              <td style="vertical-align: top; width:5px" >:</td>
            
              <td style="vertical-align: top;"><%= student.alamat%></td>
          </tr>

            <tr>
              <td style="vertical-align: top; width:200px;">Anak Ke</td>
              <td style="vertical-align: top; width:5px" >:</td>
            
              <td style="vertical-align: top;"><%= student.anak_ke%></td>
            
          </tr>

            <tr>
              <td style="vertical-align: top; width:200px;">Tempat Tinggal</td>
              <td style="vertical-align: top; width:5px" >:</td>
            
              <td style="vertical-align: top;"><%= student.tempat_tinggal;%></td>
          </tr>

          <tr>
            <td style="vertical-align: top; width:200px;">Mode Transportasi Ke Sekolah</td>
            <td style="vertical-align: top; width:5px" >:</td>
           
            <td style="vertical-align: top;"><%= student.transportasi;%></td>
        </tr>

        <tr>
          <td style="vertical-align: top; width:200px;">No HP</td>
          <td style="vertical-align: top; width:5px" >:</td>
         
          <td style="vertical-align: top;"><%= student.no_hp;%></td>
        </tr>

        <tr>
          <td style="vertical-align: top; width:200px;">Nama Lengkap Ayah</td>
          <td style="vertical-align: top; width:5px" >:</td>
         
          <td style="vertical-align: top;"><%= student.nama_lengkap_ayah;%></td>
      </tr>
      <tr>
        <td style="vertical-align: top; width:200px;">Nama Lengkap Ibu</td>
        <td style="vertical-align: top; width:5px" >:</td>
       
        <td style="vertical-align: top;"><%= student.nama_lengkap_ibu%></td>
    </tr>
    <tr>
      <td style="vertical-align: top; width:200px;">Pekerjaan Ayah</td>
      <td style="vertical-align: top; width:5px" >:</td>
     
      <td style="vertical-align: top;"><%= student.pekerjaan_ayah;%></td>
  </tr>

  <tr>
    <td style="vertical-align: top; width:200px;">Pekerjaan Ibu</td>
    <td style="vertical-align: top; width:5px" >:</td>
   
    <td style="vertical-align: top;"><%= student.pekerjaan_ibu;%></td>
</tr>

<tr>
  <td style="vertical-align: top; width:200px;">Alamat Tempat Tinggal</td>
  <td style="vertical-align: top; width:5px" >:</td>
 
  <td style="vertical-align: top;"><%= student.alamat_tempat_tinggal;%></td>
</tr>
<tr>
  <td style="vertical-align: top; width:200px;">Rata-rata penghasilan per/bulan</td>
  <td style="vertical-align: top; width:5px" >:</td>
 
  <td style="vertical-align: top;"><%= student.penghasilan;%></td>
</tr>

<tr>
  <td style="vertical-align: top; width:200px;">Keterangan Ayah</td>
  <td style="vertical-align: top; width:5px" >:</td>
 
  <td style="vertical-align: top;"><%= student.keterangan_ayah;%></td>
</tr>

<tr>
  <td style="vertical-align: top; width:200px;">Keterangan Ibu</td>
  <td style="vertical-align: top; width:5px" >:</td>
 
  <td style="vertical-align: top;"><%= student.keterangan_ibu;%></td>
</tr>

<tr>
  <td style="vertical-align: top; width:200px;">Nama Sekolah Asal</td>
  <td style="vertical-align: top; width:5px" >:</td>
 
  <td style="vertical-align: top;"><%= student.nama_sekolah_asal;%></td>
</tr>

<tr>
  <td style="vertical-align: top; width:200px;">Alamat Sekolah Asal</td>
  <td style="vertical-align: top; width:5px" >:</td>
 
  <td style="vertical-align: top;"><%= student.alamat_sekolah_asal;%></td>
</tr>

<tr>
  <td style="vertical-align: top; width:200px;">No Telp Sekolah asal</td>
  <td style="vertical-align: top; width:5px" >:</td>
 
  <td style="vertical-align: top;"><%= student.no_telp_sekolah_asal;%></td>
</tr>

       </table>
      </div>
</body>
</html>